@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.testimonial-card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    cursor: pointer;
    margin: auto;
    min-height: 450px; /* Ensures all cards are the same height */
    justify-content: space-between; /* Makes sure all items have equal space */
}

.testimonial-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.testimonial-card img {
    border-color: #4A7766;
    border-radius: 50%;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.testimonial-card h2 {
    color: #4A7766;
    font-size: 1.2rem;
    margin-top: 10px;
}

.testimonial-card p {
    font-size: 1rem;
    color: #333333;
    text-align: center;
    flex-grow: 1; /* Allows the text to grow and take up space */
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* .inline-block {
    background-color: #4A7766;
    height: 4px;
    width: 40px;
    margin: 15px auto;
    border-radius: 2px;
} */
.proposal{
    background-image: url("https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDR8fHBlb3BsZSUyMG1lZXRpbmd8ZW58MHwwfDB8fHwy");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

/* Custom styles for DropdownMenu */
.custom-dropdown-menu {
    background-color: #f0f0f0; /* Background color for the menu */
    color: #333; /* Text color */
    max-height: 300px; /* Set maximum height for the menu */
    overflow-y: auto; /* Enable scrolling when content exceeds height */
    border: 1px solid #ddd; /* Add border around the dropdown menu */
    border-radius: 8px; /* Rounded corners for the dropdown menu */
  }
  
  .custom-dropdown-menu-item {
    color: #007bff; /* Text color for menu items */
    padding: 10px 16px; /* Padding for items */
    border-bottom: 1px solid #ddd; /* Border between items */
  }
  
  .custom-dropdown-menu-item:last-child {
    border-bottom: none; /* Remove border from the last item */
  }
  
  .custom-dropdown-menu-item:hover {
    background-color: #007bff; /* Background color on hover */
    color: white; /* Text color on hover */
  }
  